
img{
  
   height: 819px;
}
.second-column{

    height: auto;
    /* background-color: white; */
}
.container .header-title {
    color:#31A5AC ;
  
}
div #error-message{
    display:none;
}
div #error-message2{
    display:none;
}